<%- include('header') -%>

<section class="main">
  <div class="container py-5 h-100 sub-cl">
    <div class="row d-flex justify-content-center allign-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div
        class="card bg-white bg-opacity-10 text-white card-sec "
        style="border-radius: 0.8rem"
        id="sqrdiv"
        >
        <div class="card-body p-5 text-center text-dark">
          <a href="/admin_home" class="logout">
            <i class="fa-solid fa-right-from-bracket fa-rotate-180 fa-2xl" style="color: #184faf;"></i>
          </a>
          <h6>back</h6>
          <div class="mt-md-4">
            <h1 class="fw-bold font-weight-bold mb-2 text-uppercase text-dark display-6">Admin Control</h1>
            <form action="/signup2" method="POST" class="pt-3" autocomplete="on">
              <div class="form-group form-primary mb-4 ">
                <input
                  name="name"
                  type="text"
                  id="typeNameX"
                  class="form-control form-control-lg"
                  placeholder="Name"
                  required
                /> 
              </div>
              <div class="form-group form-primary mb-4">
                <input
                  name="email"
                  type="email"
                  id="typeEmailX"
                  class="form-control form-control-lg"
                  placeholder="Email"
                  required
                /> 
              </div>
              <div class="form-group form-white mb-4">
                <input
                name="password"
                  type="password"
                  id="typePasswordX"
                  class="form-control form-control-lg"
                  placeholder="Password"
                  required
                />
              </div>
              <br />
            
            <div class="d-flex justify-content-around">
              <button class="btn btn-outline-dark btn-lg px-6" id="logbtn" type="submit">
                add user
              </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>


<%-include('footer')-%>